{
    "bookmarks": [
        {
            "url": "https://www.google.com",
            "name": "Google"
        },
        {
            "url": "https://github.com",
            "name": "GitHub"
        }
    ]
}